.contact-wrapper {
    display: flex;
    padding-right: 0%;
    padding-left: 4%;
    padding-bottom: 2%;
}
.navbar2-container {
    width: 90%;

    margin: auto;
}
.navbar2-wrapper {
    width: 100%;
}
.footer-terms {
    background-color: #fc2779;
    margin-bottom: 5%;
}
.terms-wrapper {
    margin: auto;
    padding: 0.7%;
}
.categories-wrapper {
    display: flex;
    padding: 4%;
}

.services-wrapper {
    padding: 2%;
    display: flex;
}

.footer-categories {
    background-color: #8c8d94;
}
.nykaa-wrapper,
.help-wrapper,
.quicklinks-wrapper,
.topcategories-wrapper,
.inspire-wrapper {
    width: 100%;
    text-align: left;
    padding: 2%;
}

.category-nykaa,
.category-help,
.category-quicklinks,
.category-topcategories,
.category-inspireMe {
    width: 60%;
}

.category-nykaa,
.category-help,
.category-quicklinks,
.category-inspireMe,
.category-topcategories {
    color: azure;
}

.footer-text:hover {
    color: hsl(337, 89%, 64%);
    transition-duration: 0.3s;
    cursor: pointer;
}
.card-block :hover {
    box-shadow: 1px 1px 6px 1.5px rgba(138, 138, 141, 0.877);
    cursor: pointer;
}

.footer-text {
    color: white;
    font-size: 14px;
}
.contact-div {
    width: 100%;
    margin: auto;
    text-align: left;
    background-color: #3f414d;
}

.email {
    width: 28%;
}

.app {
    width: 22%;
    text-align: center;
}
.app-img {
    width: 10%;
}
.phone {
    width: 27%;
}
.phone-text {
    font-size: 16px;
}

.phone-text-div {
    width: 110%;
}
.email,
.phone,
.app {
    margin: 10px;
    /* border: 1px solid black; */
    padding-left: 1%;
}

.service {
    display: flex;
    width: 16%;
    margin: 20px;
    text-align: left;
}

.desc-service {
    font-size: small;
    color: rgb(70, 69, 69);
}

.service-icon {
    width: 90%;
    height: 50px;
}
.social-icon {
    width: 17%;
}

.service-authentic {
    width: 20%;
}

.terms1-wrapper {
    display: flex;
    width: 100%;
}
.terms1 {
    width: 40%;
    margin: auto;
}
.terms-text {
    margin-left: 20px;
    font-size: small;
    font-weight: 600;
    color: white;
}

.trc {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.app {
    text-align: center;
}
.home-heading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: rgb(70, 69, 69);
}

.home-container {
    width: 90%;
    /* border: 1px solid black; */
    margin: auto;
}

.top-brands,
.only-at-nykaa,
.trending-store {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 17px;
}

img {
    width: 100%;
    border-radius: 1.2%;
}

.featured-brands {
    display: grid;
    grid-gap: 17px;
    grid-template-columns: repeat(4, 1fr);
}
.contact-wrapper {
    display: flex;
}

.footer-container {
    bottom: 0px;
    margin-bottom: -2rem;
    margin-top: 2rem;
}

.card-block > div > img {
    width: 100%;
    height: 100%;
}

.card-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 700px 400px;
    border-radius: 5px;
    display: block;
    background-size: cover;
}

.offer-desc {
    margin-top: -80px;
    background-color: white;
    width: 95%;
    height: 80px;
    margin-left: 17px;
    border-radius: 5px;
    padding-top: 0.5%;
}
.offer-desc > p:nth-child(1) {
    color: #fc2779;
    font-size: 21px;
    line-height: 0.4em;
}

@media all and (min-width: 1024px) and (max-width: 1200px) {
    .offer-desc > p:nth-child(1) {
        color: #fc2779;
        font-size: 16px;
        line-height: 0.4em;
    }
}

@media all and (max-width: 500px) {
    .top-brands,
    .only-at-nykaa,
    .trending-store {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-gap: 17px; */
        margin: auto;
    }

    .card-block {
        height: 200px;
    }

    .card-img {
        background-size: contain;
    }

    .offer-desc {
        height: 40px;
        width: 90%;
        margin: auto;
        margin-top: -68px;
    }

    .offer-desc > p:nth-child(1) {
        font-size: 13px;
        line-height: 0.1em;
    }
    .offer-desc > p {
        font-size: 13px;
        line-height: 0.5em;
    }

    .featured-brands {
        width: 96%;
        margin: auto;
        display: grid;
        grid-gap: 2%;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-f {
        height: 150px;
    }

    .card-f + .offer-desc {
        height: 40px;
        width: 100%;
        margin: auto;
        margin-top: 0px;
    }

    .card-f + .offer-desc > p:nth-child(1) {
        font-size: 11px;
        line-height: 1em;
        margin-top: 2px;
        margin-bottom: -0.5em;
    }
    .card-f + .offer-desc > p {
        font-size: 10px;
        line-height: 1em;
    }

    .home-heading {
        text-align: left;
        margin-left: 5%;
        font-size: 20px;
    }
}
