.heading-nav {
    font-size: 15px;
    color: rgba(49, 49, 54, 0.829);
    text-align: start;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-desc {
    color: rgb(119, 116, 111);
    text-align: start;
    margin-left: -20px;
}

.heading-nav:hover {
    color: #fc2779;
    cursor: pointer;
}

ul {
    list-style: none;
}

.nav-desc:hover {
    color: #fc2779;
    text-align: start;
    cursor: pointer;
}

.appliances-div {
    width: 100%;
    margin: auto;
}

.appliance-wrapper {
    width: 100%;
    display: flex;
    text-align: start;
}
.appliance-wrapper div {
    width: 33%;
    /* height: 350px; */
    padding-bottom: 4%;
    border: 1px solid rgb(247, 240, 240);
}
.non-colored {
    background: white;
}
.colored-div {
    background: #f7f7f7;
}

.brand-img img {
    width: 90%;
    height: 50px;
}

.img-div-brands div {
    margin: 30px;
}

.img-div-brands {
    overflow: hidden;
    position: inherit;
    width: 100%;
}

.sub-nav {
    float: left;
    overflow: hidden;
}

.sub-nav .sub-nav-btn {
    font-size: 18px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.sub-nav-content {
    display: none;
    position: fixed;
    left: 0;
    background-color: white;
    margin-left: 40px;
    width: 90%;
    z-index: 1;
}

.sub-nav-content a:hover {
    background-color: #eee;
    color: #fc2779;
}

.sub-nav:hover .sub-nav-content {
    display: block;
    display: flex;
}
