* {
    font-family: Inter, sans-serif;
}
.navbar5 {
    overflow: hidden;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 120px;
    margin-top: -120px;
    border-bottom: 1px solid #ddd;
    z-index: 6;
}

.nav-bar-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    display: flex;
}

.navbar5 a {
    float: left;
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 10px 7px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: rgb(54, 51, 51);
    font-weight: 600;
    padding: 13px 6px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar5 a:hover,
.subnav:hover .subnavbtn {
    background-color: transparent;

    color: #fc2779;
}

.subnav-content {
    display: none;
    position: fixed;
    left: 0;
    background-color: white;
    margin-left: 65px;
    width: 90%;
    top: 120px;
}

.subnav-content a {
    color: black;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: #fc2779;
}

.subnav:hover .subnav-content {
    display: block;
    display: flex;
}

.search-div:focus-within {
    outline-color: azure;
    border: none;
    background-color: rgb(241, 240, 240);
    border: 1px solid #fc27799a;
}

.search-div {
    border-radius: 5px;
    width: 18%;
    margin-left: 10px;
    border: 1px solid #ddd;
    background-color: #eceaebce;
}

.dropdown {
    margin-left: 50px;
    margin-top: 5px;
    position: relative;
    display: inline-block;
    /* margin-left: 200px; */
}

.dropdown > p:nth-child(2) {
    margin-top: -34px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    margin-left: -50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content p,
.dropdown-content .logOutbtn {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: flex;
    border: none;
}
.dropdown-content .logOutbtn {
    margin-bottom: 10px;
}

.dropbtn {
    color: black;
    font-size: 20px;
    border: none;
    position: relative;
}

.accInfo {
    width: 100px;
}

.accInfo:hover .dropdown-content {
    display: block;
    position: fixed;
}

.accInfo:hover .dropbtn {
    background-color: "none";
}

.navbar-2 {
    overflow: hidden;
    margin-top: 120px;
    width: 100%;
    background-color: white;
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.navbar-2 a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.navbar-2-wrapper {
    width: 75%;
    margin: auto;
}

.subnav-2 {
    float: left;
    overflow: hidden;
}

.subnav-2 .subnavbtn-2 {
    font-size: 15px;
    border: none;
    outline: none;
    color: rgba(117, 115, 115, 0.801);
    font-weight: 500;
    padding: 8px 6px;
    background-color: inherit;
    font-family: inherit;
}

.navbar-2 a:hover,
.subnav-2:hover .subnavbtn-2 {
    background-color: white;
    font-weight: 600;
    color: #fc2779;
    /* text-decoration: underline 4px #fc2779; */
}

.subnav-content-2 {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    margin-left: 63px;
    line-height: 20px;
    width: 90%;
    top: 190px;
}

.hover-line {
    height: 3px;
    width: 75%;
    margin: auto;
    display: none;
    margin-top: 5px;
    background-color: #fc2779;
    position: relative;
}

.subnav-content-2 a {
    color: black;
    text-decoration: none;
}

.subnav-2:hover .hover-line {
    display: block;
    position: relative;
}

.subnav-content-2 a:hover {
    background-color: #eee;
    color: #fc2779;
}

.subnav-2:hover .subnav-content-2 {
    display: block;
    display: flex;
    z-index: 5;
}

.social-div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 95%;
    padding: 7% 2%;
}

.card-1 div:hover,
.card-2 div:hover,
.card-3 div:hover {
    border: 2px solid #fc2779;
    transition: 0.06s ease-out;
    color: #fc2779;
    border-radius: 5px;
}
.social-div div:hover {
    color: #fc2779;
}

.social-desc {
    color: rgba(3, 2, 26, 0.5);
    font-size: 13px;
}
.card-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    line-height: 2px;
}

.card-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;
    line-height: 2px;
}

.card-3 {
    grid-column-start: 5;
    grid-column-end: 6;
    width: 100%;
    line-height: 2px;
}

.card-1,
.card-2,
.card-3 img {
    border-radius: 5px;
    display: block;
}

.upperNav,
.offer-banner {
    width: 100%;
    display: block;
    height: 0px;
    line-height: 40px;
    padding: 0px;
    position: relative;
    z-index: 10001 !important;
}

.offer-banner {
    height: 40px !important;
    background-size: cover !important;
    background-color: #fc2779;
    background-image: url(https://adn-static1.nykaa.com/media/wysiwyg/2021/common-strip.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.offer-wrapper {
    width: 100%;
    height: 40px;
    margin: 0 auto;
}

.left-div {
    vertical-align: middle;
    float: left;
    width: 0%;
    height: 40px;
    margin-bottom: 0 !important;
    overflow: hidden;
    position: relative;
}
.right-div {
    height: 40px;
    width: 100%;
}

.right-div li:hover {
    cursor: pointer;
    color: #fc2779;
    fill: #fc2779;
}

.right-div ul {
    float: right;
    margin-right: 30px;
}
.right-div ul li {
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
}

.offer-wrapper .ts-icon .ts-text svg {
    width: 20px;
    margin-top: 8px;
    vertical-align: top;
    margin-left: 3px;
}

.right-div ul li::after {
    content: "";
    width: 1px;
    height: 20px;
    background: #000;
    position: absolute;
    top: 10px;
    margin-left: 13px;
}

.navvbarr {
    display: block;
    width: 100vw;
}
.miniNavbbar {
    display: none;
    width: 100%;
}

@media all and (max-width: 1350px) {
    .nav-bar-wrapper {
        width: 90%;
        margin: auto;
        margin-top: 5px;
    }
    .dropdown {
        margin-left: 25px;
    }
}

@media all and (max-width: 1236px) {
    .nav-bar-wrapper {
        width: 100%;
        margin: auto;
        margin-top: 5px;
    }

    .dropdown > p:nth-child(2) {
        margin-left: -50px;
    }
    .navbar-2-wrapper {
        width: 85%;
        margin: auto;
    }
}
@media all and (max-width: 1100px) {
    .subnavbtn > a {
        font-size: 13px;
    }
    .navbar-2-wrapper {
        width: 80%;
    }
    .dropdown {
        margin-left: 10px;
    }
}
@media all and (max-width: 1000px) {
    .search-div > img {
        display: none;
    }
    .search-div {
        width: 100px;
        height: 25px;
    }
    .dropdown {
        margin-left: 0px;
    }
    .navbar-2-wrapper {
        width: 100%;
    }
}
@media all and (max-width: 500px) {
    .navvbarr {
        display: none;
    }
    .miniNavbbar {
        display: block;
    }
}
