.banner {
    width: 100%;
    margin: auto;
    display: flex;
    background-color: rgb(202, 202, 202);
}
.banner-info {
    width: 55%;
    padding: 5% 10%;
}
.banner-img {
    width: 45%;
    /* height: 350px; */
}
.banner-img > img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.Content {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0rem 1rem;
    gap: 1rem;
}

.func {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}
@media all and (max-width: 1280px) {
    .Content > div:nth-child(1) {
        width: 30%;
    }

    .Content > div:nth-child(2) {
        width: 70%;
    }
}
@media all and (max-width: 1024px) {
    .Content > div:nth-child(1) {
        width: 30%;
    }

    .Content > div:nth-child(2) {
        width: 70%;
    }
}

@media all and (max-width: 500px) {
    .Content {
        display: block;
        padding: 0rem 0rem;
    }
    .Content > div:nth-child(1) {
        display: none;
    }
    .Content > div:nth-child(2) {
        width: 100%;
        padding-top: 1px;
        padding-bottom: 1px;
        gap: 1px;
        background-color: gray;
    }

    .carousel {
        width: 100%;
        aspect-ratio: 3/1.2;
    }

    .carousel__images {
        display: flex;
        transform: translateX(0);
        transition: transform ease 2s;
        width: 100%;
    }
    .carousel__images > img {
        width: 100%;
        aspect-ratio: 3/1.2;
        /* height: 100%; */
        /* object-fit: cover; */
    }

    .carousel__button {
        background: white;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: lighter;
        height: 3rem;
        position: absolute;
        width: 3rem;
        z-index: 1;
    }
    .previous {
        display: none;
    }

    .next {
        display: none;
    }

    .banner {
        display: none;
    }
}
@media all and (max-width: 1280px) {
    .Content > div:nth-child(1) {
        width: 100%;
    }

    .Content > div:nth-child(2) {
        width: 100%;
    }
}
@media all and (max-width: 1024px) {
    .Content > div:nth-child(1) {
        width: 100%;
    }

    .Content > div:nth-child(2) {
        width: 100%;
    }
}
