
.navbar {
    overflow: hidden;
    background-color: white ;
    position: fixed;
    width: 90%;
    margin-top: -0px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 18px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: white;
    color: #fc2779;
    text-decoration: underline 4px #fc2779;

  }
  
  .subnav-content {
    display: none;
    position: fixed;
    left: 0;
    background-color: white;
    margin-left:40px;
    width: 90%;
      z-index: 1;
  }
  
  .subnav-content a {
    color: black;
    text-decoration: none;


  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: #fc2779;


  }
  
  .subnav:hover .subnav-content {
    display: block;
      display:flex;
  
   
  }