.thankyou {
    margin: auto;
    margin-top: 80px;
    width: fit-content;
}
.thankyou .success {
    margin: 20px;
    text-align: center;
    color: green;
}
.thankyou .footer {
    margin: 20px;
    text-align: center;
    color: var(--theme-color);
}

.thankyou ul {
    text-align: left;
}
.thankyou li {
    line-height: 25px;
}
