.App {
    top: 0;
    text-align: center;
    width: 100%;
    background-color: rgb(243, 243, 243);
    position: absolute;
    margin: auto;
    overflow-x: hidden;
}

@media all and (max-width: 500px) {
    .App {
        width: 100%;
        overflow-x: hidden;
    }
}
